@import "../../assets/styles/_variables.scss";

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 10px 20px ;
    border-radius: 10px;
    border: 1px solid $base-color;
    background-color: $base-color;
    color: $font-color-white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: $base-color;
        transform: rotate(3deg);
    }
}