.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;

    // &_wrapper{
    //     overflow: hidden;
    //     background-image: src('../../assets/images/home-bg.png');
    //     background-size: cover;
    //     background-position: center;
    //     height: 900%;
    //     width: 90%; 
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;

    // }
    &_top_container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;

    }

    &_social_container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        gap: 10px;
    }
        
    &_title{
        background-color: transparent;
        font-family: 'Pacifico', cursive;
        font-weight: bold;
        font-size: 5vh;
        &_sub{
            background-color: transparent;
            font-family: 'Pacifico', cursive;
            margin-bottom: 10px;
        }
    }
}