@import "../../assets/styles/_variables.scss";

.container{
    width: 100%;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scroll-behavior: smooth;
    width: 100vw;
    height: fit-content;
    padding-top: 100px;
    gap: 20px;


    &_top{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


    }

    &_middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
        height: fit-content;
        margin: 10px;
        gap: 20px;
        // background-color: antiquewhite;

        &_top{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            width: 90%;
            height: 80px;
            border-radius: 30px;
            padding: 0 50px;
            margin: 10px;
            gap: 50px;
            background-color: $nice-color;
            color: $accent-color;
            font-weight: bold;
            font-size: 1.5rem;

            &_left{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                flex: 1;
            }
            &_right{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                text-align: justify;
                gap: 10px;
                flex:2;

                &_item{
                    width: 250px;
                }
                
            }
        }

      

        &_bottom{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: fit-content;
            margin: 50px;
            gap: 30px;

        

                &_product{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                    width: 350px;
                    height: 500px;
                    padding: 10px;
                    border-radius: 20px;

                    // border: 1px solid $gray-light;

                    box-shadow:  $nice-color 0px 4px 12px;

                    &_image{
                        background-color: azure;
                        width: 100%;
                        height: 200px;
                        border-radius: 20px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }

                    &_info{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        gap: 10px;
                    }
                }
            
        }
    }

}

svg{
    max-width: 100%;
}


h2{
    color: $accent-color;
    font-size: 1.75rem;
}

h3{
    color: $base-color;
    font-size: 1.5rem;
}

h4{
    color: $tertiary-color;
    font-size: 1.2rem;
}

p{
    font-size: 1.25rem;
}


@media (max-width: 768px) {
    .page{
        flex-direction: column;
        width: 100%;
        height: fit-content;
        justify-content: center;

        &_top{
        }

        &_middle{
            width: 95%;
            flex-direction: column;
            height: fit-content !important;

            &_top{
                flex-direction: column;
                font-size: 1.1rem;
                gap: 20px;
                padding: 10px;
                height: fit-content;

                &_left{

                }
                &_right{
                    justify-content: center;
                    flex-direction: column;
                }
            }

        }

        &_bottom{

        }
       
    }
    
}
