$base-color: #647163;
$accent-color: #9d5b47;
// $accent-color: #78a67c;
$secondary-color: #5DB139;
$tertiary-color: #9CBEA0;
$nice-color: #eeeada;
$gray-color: #35302F;

// $secondary-color: #50594f;
// $tertiary-color: #9cbea0;
// $nice-color: #eeeada;


$font-color-dark: #121212;
$font-color-white: #fff;
$max-width: 1200px;
$gutter:20px;
$finger-size:40px;